*:focus {
  outline: none !important;
}
.no-slide-text {
  text-align: center;
}

#font-picker ul {
  z-index: 99;
  background: #ffffff;
}
#font-picker .dropdown-button {
  background: none;
  border: 1px solid #abb1ba;
  box-shadow: none;
  border-radius: 4px;
  height: 36px;
}

#font-picker {
  margin-top: 4px;
  box-shadow: none;
}
.Polaris-Button--outline .Polaris-Button__Content {
  justify-content: start !important;
}
.rdw-editor-wrapper .editor-style .public-DraftStyleDefault-block {
  background: #e1e6ea !important;
}
.rdw-editor-wrapper .editor-style {
  min-height: inherit !important;
}
// .header-preview {
//   &
.mobile {
  .ab-slider > .ab-slide {
    padding: 5px 14px !important;
  }

  .ab-slide .ab-slide-content .ab-slide-text {
    padding: 0px;
  }
}
// }
// .header-preview {
//   // max-width: 1088px;
//   transform: translate(0%, 0%);
//   z-index: 100000;
//   height: auto;
//   width: 100%;

//   &
.mobile {
  max-width: 419px;
  margin: 0 auto;
  transition: 0.5s all;
  transform: translate(75%, 0%);
  margin: 10px;

  // .slide {
  //   h4 {
  //     font-size: 13px !important;
  //   }
  // }
}
// }

.previewHeight {
  position: fixed;
  top: 56px;
  left: 352px;
  width: calc(100% - 352px);
  margin-bottom: 10px;
  background-color: #fff;
  border-left: 1px solid #ebebeb;
  overflow: scroll;
  border: 1px solid #ebebeb;
}

@media screen and (max-width: 768px) {
  .previewHeight .preview-bar {
    position: fixed;
    left: 0px;
    width: 100%;
  }
  .mobile {
    transform: inherit;
    margin: inherit;
  }
}
@media screen and (max-width: 768px) {
  .announcement-bar-with-slider {
    width: 100% !important;
  }
}

.navigation {
  padding-top: 56px !important;
}
.navigation {
  height: 100%;
  display: flex;
  background-color: #ffffff;
}
.Polaris-IndexTable {
  padding: 0px 0px 10px 0px !important;
}
.Admin-Access {
  .previewHeight {
    left: 650px;
    width: 100%;
    max-width: 790px;
  }
  .previewHeight.mobile {
    left: 171px;
    width: 65%;
    max-width: 670px;
  }
  .Polaris-Navigation {
    position: relative;
    top: 56px;
  }
  .customNavigation .Polaris-Navigation {
    top: 0px;
  }
}

.priceBanner {
  .Polaris-Banner {
    padding: 10px;
  }
}
.Polaris-ButtonGroup--noWrap {
  justify-content: center;
}
.Polaris-Navigation__Section {
  padding: inherit !important;
}
.block {
  padding: 10px;
}
.Polaris-Navigation {
  max-width: 300px !important;
  background-color: #ffffff !important;
  border-right: 1px solid #ebebeb !important;
}
.customNavigation {
  height: 100%;
}

.Polaris-Button--tertiary.Polaris-Button--pressed {
  background: #00000014 !important ;
}
.sideBar {
  background: #ffffff;
  height: 100%;
  border-right: 1px solid #ebebeb;
}
.Polaris-RangeSlider-SingleThumb__InputWrapper {
  cursor: grab !important ;
}
.email-success {
  display: none !important;
}
.email-inputs .email-input {
  border-radius: 4px;
  height: 34px;
  padding: 3px 6px;
  font-family: inherit;
  background-color: #ffffff;
  margin-left: 10px;
  border: 1px solid transparent;
  outline: none;
  flex-grow: 1;
  min-height: 30px;
  color: #000;
  box-shadow: 0 0 10px 4px #0a010117;
}
.table .Polaris-IndexTable__Table tr :nth-child(6) {
  text-align: center;
}
.product-img {
  background-position: 50%;
  background-size: cover;
  border: 0.063rem solid #fff;
  border-image: none;
  border-image: initial;
  border-radius: 0.31rem;
  height: 2.88rem;
  margin-right: 7px;
  min-width: 2.88rem;
  width: 2.88rem;
  img {
    height: 100%;
    width: 100%;
  }
}
.products {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
  width: auto;
  margin-left: 10px;
}
.product-price {
  display: flex;
  flex-direction: row;
}
.product-details {
  display: flex;
  flex-direction: column;
  margin-right: 7px;
  gap: 5px;
}
.price {
  margin-left: 5px;
}
.Quantity_Cut {
  min-width: 25px;
  text-align: center;
  cursor: pointer;
  color: #263644;
  user-select: none;
}

.Quantity_Add {
  min-width: 25px;
  text-align: center;
  cursor: pointer;
  color: #263644;
  user-select: none;
}
.Quantity {
  color: #263644;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  border-radius: 4px;
  min-height: 35px;
}
.Quantity_Space {
  background: #ccc;
  -webkit-filter: saturate(10%);
  filter: saturate(10%);
  width: 1px;
}
.variants_Select {
  color: #263644;
  height: 30px;
  width: auto;
  text-overflow: ellipsis;
  background: #fff !important;
  border-radius: 4px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  padding: 0px 0px 0px 5px;
  margin-right: 10px;
  min-height: 35px;
  outline: 0px solid transparent;
}
.ab-slide-cart {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 2px;
  flex: 1 1 0;
}

.wsscc_banner_notification {
  background: #dfe7ff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 0;
  font-size: 16px;
  color: #000080;
  font-weight: 600;
}

.left_Block {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
  width: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.product-title {
  display: flex;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (min-width: 48em) {
  .Polaris-Navigation__PrimaryNavigation {
    padding-top: inherit !important;
  }
}

.Polaris-Link--removeUnderline:hover {
  text-decoration: inherit !important;
}
.email-input::placeholder {
  color: #000; /* Change placeholder text color to gray */
}

#cart-bar-added {
  display: block;
}
.cart-bar {
  display: inline !important;
}
.horizontal-slider-wrapper.marquee__content {
  display: flex !important;
  width: auto !important;
  overflow: visible !important;
  max-width: initial !important;
  flex-direction: row;
  height: 100%;
}

.ab-slider .horizontal-slider-wrapper.marquee__content .ab-slide {
  position: static;
  width: auto !important;
  max-width: initial !important;
  white-space: nowrap;
  height: auto !important;
}
.horizontal-slider .ab-slide {
  margin-right: -1px;
  flex-wrap: nowrap;
}
.Polaris-IndexTable table thead tr th:last-child {
  justify-content: center;
  display: flex;
}
.product-page {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mobile {
  .product-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 50px;
  }
  .preview-product-details {
    width: 100%;
  }
  .preview-product-image {
    width: 100%;
    height: 240px;
    margin-bottom: 20px;
  }
}

.preview-product-image {
  width: 40%;
  height: 0;
  background-color: #f6f6f7;
  padding-bottom: 43%;
  min-height: 0;
  border: 1px solid #ebebeb;
  filter: blur(1px);
}
.preview-product-details {
  width: 56%;
}

.preview {
  padding: 3rem;
}
.preview-atc {
  float: left;
  width: 100%;
  padding: 1.5rem 2rem;
  border: 1px solid #babec3;
  color: #babec3;
  border-radius: 8px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}
.preview-product-details {
  color: #babec3;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  gap: 15px;
}
.tmpImage {
  img {
    width: 283px;
    height: 75px;
  }
}

#announcement-bar-with-slider {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  display: block;
  position: relative;
  width: 100%;
}

.ab-slider .ab-slide {
  position: absolute;
  width: 100%;
  z-index: 0;
  left: -100%;
  height: 100%;
}

.ab-slider .animation-in {
  left: 0px;
  z-index: 0;
  opacity: 1;
}

.ab-slider .animation-out {
  left: 0px;
  z-index: 1;
  opacity: 0;
}

.ab-slider .ab-slide.done {
  left: -100%;
}

.ab-slider .ab-slide.active {
  left: 0%;
}

.ab-slider .ab-slide.next {
  opacity: 0;
  left: 100%;
}

.ab-slider .ab-slide h4 {
  width: 100%;
}

.ql-editor p {
  vertical-align: middle !important;
  flex-wrap: wrap;
}

.ab-slide {
  transition: background 0.5s;
  // font-family: sans-serif;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  padding: 8px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ab-slide .ab_slide-content {
  max-width: 1135px;
  display: inline;
  text-align: center;
}
.ab-slide-content {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  flex-wrap: wrap;
}
.horizontal-slider .ab-slide .ab-slide-content {
  flex-wrap: nowrap;
}

.ab-slide .ab-slide-content .ab-slide-text {
  display: inline;
  text-align: center;
  vertical-align: middle;
  margin-left: 10px;
}

.ab-slide .ab-slide-content .ab-slide-text span {
  display: inline-block;
}

.ab-slide .ab-slide-text h4 {
  transition: 0.3s all;
  text-transform: none;
  vertical-align: middle;
  display: inline;
  text-align: center;
  padding: 0px !important;
  line-height: 1.3;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0px;
  -webkit-font-smoothing: initial;
}
.ab-slide .ab-slide-text h4 p {
  color: inherit;
}
.ab-slide .ab-slide-text div {
  transition: 0.3s all;
  text-transform: none;
  vertical-align: middle;
  display: inline;
  text-align: center;
  padding: 0px !important;
  line-height: 1.3;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0px;
  -webkit-font-smoothing: initial;
}

.ab-slide .ab-slide-remove {
  /* top: 5px; */
  right: 5px;
  position: absolute;
  z-index: 1;
  height: 15px;
  width: 15px;
}

.ab-slide .ab-slide-remove div {
  text-transform: none;
  cursor: pointer;
  font-size: 30px;
  height: 20px;
  width: 16px;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  margin-top: -4px;
}

.ab-slide .ab-slide-btn {
  vertical-align: middle;
  outline: none;
  display: inline-block;
  margin-left: 10px;
}

.ab-slide .ab-slide-btn a {
  transition: 0.5s all;
  line-height: 1.3;
  outline: none;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 8px 16px;
  box-shadow: 2px 2px 5px #0000003d;
}

.ql-editor p {
  display: inline;
}

.ab-slide-link {
  width: 100%;
  height: 100%;
  width: 100%;
  top: 0px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ab-slide-link .ab-slide-text p,
.ab-slide-link .ab-slide-text h4 {
  cursor: pointer;
}

.ab-slide .ab-clock {
  margin-left: 10px;
  text-align: center;
  perspective: 400px;
  display: inline-flex;
  vertical-align: middle;
}

.ab-slide-content .ab-clock ul {
  margin: 0;
  padding: 0;
}

.ab-slide-content .ab-clock li {
  display: inline-block;
  list-style-type: none;
  padding: 0 5px;
  vertical-align: middle;
  /* text-transform: uppercasez; */
}

.ab-slide-content .ab-clock ul li.wsab-timer-separator {
  display: none;
  padding: 0px !important;
}

.ab-slide-content .ab-clock ul.wsab-separator li.wsab-timer-separator {
  display: inline-block;
}
.ab-slide-content .ab-clock li span {
  display: block;
}

#Notifications {
  width: fit-content;
  position: fixed;
  right: 20px;
  top: 80px;
  margin-right: 30px;
  box-shadow: 6px 6px 8px 0px rgb(92 184 92 / 27%);
  z-index: 900000 !important;
}

div.Notification {
  display: table;
  min-width: 250px;
  box-shadow: 0 0 3px black;
}

div.Notification div.Content {
  padding: 3px;
  margin-left: 20px;
  margin-right: 10px;
}

div.Notification h2 {
  font-size: 20px;
  font-weight: normal;
  margin: 10px !important;
}

div.Notification.good {
  background-color: #abffcd;
}

div.Notification div.ProgressDiv div {
  height: 3px;
  width: 0%;
}

div.Notification.good div.Content {
  color: #009e0a;
}

div.Notification.good div.ProgressDiv div {
  background-color: #009e0a;
}

/*Marquee css start*/
.marquee__content {
  width: 300% !important;
  max-width: initial !important;
  display: flex;
  line-height: 30px;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-name: marquee;
}

.marquee__content:hover {
  animation-play-state: paused;
}

.ab-slider.marquee__content {
  display: flex !important;
  width: auto !important;
  overflow: visible !important;
  max-width: initial !important;
  flex-direction: row;
  overflow: visible !important;
}

.ab-slider.marquee__content .ab-slide {
  position: static;
  width: auto !important;
  max-width: initial !important;
  white-space: nowrap;
  height: auto !important;
}

.ab-slider.marquee__content:hover {
  animation-play-state: paused;
}

.horizontal-slider {
  display: flex;
}

.horizontal-slider .ab-slide .ab-slide-content .ab-slide-text {
  /* .horizontal-slider .ab-slide .ab-slide-content { */
  white-space: nowrap;
}

#announcement-slider {
  display: flex;
  overflow: hidden;
}

#announcement-slider * {
  line-height: 1.3;
  -webkit-font-smoothing: auto;
}

// shipping style
.box-container {
  // background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px 0px #dce2ea;
  margin-bottom: 18px;

  .color-pickerIpt {
    width: 100%;
    position: relative;

    .color-picker {
      position: absolute;
      right: 5px;
      top: 30px;
      border-radius: 3px;
      cursor: pointer;
      width: 32px;
      height: 32px;
      border: 1px solid #bcc1ca;
      z-index: 9;
    }
  }

  .three-input {
    justify-content: start;

    .input {
      width: calc(24.33% - 20px);
      margin: 0px 10px;

      input[type="checkbox"] {
        width: auto;
      }
    }
  }

  .three-input,
  .two-input,
  .single-input,
  .four-input {
    input[type="checkbox"] {
      width: auto;
    }
  }

  .four-input {
    justify-content: start;

    .color-input {
      display: flex;
      align-items: center;
    }

    .input {
      .select-group {
        select {
          padding: 6px 10px;
        }
      }
    }
  }

  label {
    // margin-bottom: 8px;
    color: #262727;
  }

  .box-header {
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(220, 226, 234, 0.4);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 0px;

    .switch-btn {
      margin-left: 20px;

      .switch {
        padding: 0 !important;
      }
    }

    h5 {
      font-weight: 600;
      font-size: 16px;
      margin: 0px;
      color: #232836;
    }
  }

  .box-content {
    padding: 10px 14px;

    .box-field {
      .two-input,
      .three-input,
      .four-input {
        margin-bottom: 15px;
      }

      .dashed {
        border-bottom: 2px dashed #5d5a5ab8;
        padding-bottom: 20px;
      }

      .box-option {
        margin: 5px 0px;

        .option {
          margin: 5px 0px;
          display: flex;
          align-items: center;

          input {
            margin-right: 5px;
            max-width: 20px;
          }

          label {
            width: auto;
            margin-bottom: 0px !important;
          }
        }
      }

      .preview-shipping {
        margin-top: 5px;

        p {
          color: #5a5f63;
          font-size: 14px;
          padding: 2px;
        }

        .item {
          display: flex;
          align-items: center;
          justify-content: center;
          background: #2c1390;
          color: #ffffff;
          padding: 10px;
        }
      }
      .announcement-emoji {
        position: absolute;
        padding: 10px 4px;
        margin: 65px 0px;
        cursor: pointer;
      }

      .announcement-message {
        width: 100%;
        max-width: 100%;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        border: 1px solid #d4dbe2;
        box-sizing: border-box;
        border-radius: 12px;
        padding: 8px 24px;
      }

      .backGround-type {
        width: 100%;
        border: 1px solid #cccccc;
        border-radius: 3px;
        padding: 7px;
        overflow: scroll;
        scroll-behavior: inherit;
        overflow: auto;
        height: 100%;
        max-height: 150px;

        .items {
          cursor: pointer;
          border: none;
          border-radius: 3px;
          width: 100%;
          height: 50px;
          margin-bottom: 10px;
          background-size: contain;

          span {
            font-size: 13px;
            color: #656565;

            a {
              cursor: pointer;
              font-size: 13px;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
#announcement-slider-add .ab-slide .ab-slide-remove {
  display: none;
}

.Polaris-Navigation__PrimaryNavigation:hover {
  background-color: inherit !important;
}
@keyframes ws-slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0px, 0px);
    visibility: visible;
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes ws-slideOutLeft {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ab-slider .ab-slide.active.animation-in {
  animation-name: ws-slideInRight;
}

.ab-slider .ab-slide.animation-out {
  animation-name: ws-slideOutLeft;
}

@keyframes ws-animation-leftOut {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
.ab-slider .ab-slide.animation-leftOut {
  animation-name: ws-animation-leftOut;
}

.ab__arrows_prev {
  left: 1%;
}
.ab__arrows_next {
  right: 1%;
}
.ab__arrow {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 20px;
  margin: auto;
  z-index: 999;
}

.ab-slider .animation-leftOut {
  left: 0px;
  z-index: 1;
  opacity: 0;
}

.ab-slider .ab-fadeInRight {
  animation-name: ws-fadeInRight;
}

.ab-slider .active.ab-fadeInLeft {
  animation-name: ws-fadeInLeft;
}

@keyframes ws-fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes ws-fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
