p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
p When an unknown printer took a 
    a(href="www.google.com" style="text-decoration: underline;color: #3f82b1;") 
        strong google.com
    |  of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
p(style="text-align:center")
    | Contact us for more information
    a.button(href="abc.com") Contact Us
//- include ./review.pug   